In [1]:
#Import libraries for evaluation
import pandas as pd
import numpy as np
 

#Import libraries for Visualization
import matplotlib.pyplot as plt
import seaborn as sns

#import libraries for Machine Learning
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("StudentsPerformance.csv")

In [3]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [4]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [5]:
df['Ismale']= np.where(df.gender== 'male',1,0)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
 8   Ismale                       1000 non-null   int32
dtypes: int32(1), int64(3), object(5)
memory usage: 66.5+ KB

In [8]:
df['lunch'].value_counts()

standard        645
free/reduced    355
Name: lunch, dtype: int64

In [ ]:
df.info()

In [9]:
df['standardlunch']=np.where(df.lunch == 'standard',1,0)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
 8   Ismale                       1000 non-null   int32
 9   standardlunch                1000 non-null   int32
dtypes: int32(2), int64(3), object(5)
memory usage: 70.4+ KB

In [11]:
df['race/ethnicity'].value_counts()

group C    319
group D    262
group B    190
group E    140
group A     89
Name: race/ethnicity, dtype: int64

In [12]:
df['test preparation course'].value_counts()

none         642
completed    358
Name: test preparation course, dtype: int64

In [13]:
df['course_preparation'] = np.where(df['test preparation course'] == 'none',1,0)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
 8   Ismale                       1000 non-null   int32
 9   standardlunch                1000 non-null   int32
 10  course_preparation           1000 non-null   int32
dtypes: int32(3), int64(3), object(5)
memory usage: 74.3+ KB

In [16]:
df.drop(['gender','lunch','test preparation course'], axis= 1, inplace=True)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   race/ethnicity               1000 non-null   object
 1   parental level of education  1000 non-null   object
 2   math score                   1000 non-null   int64
 3   reading score                1000 non-null   int64
 4   writing score                1000 non-null   int64
 5   Ismale                       1000 non-null   int32
 6   standardlunch                1000 non-null   int32
 7   course_preparation           1000 non-null   int32
dtypes: int32(3), int64(3), object(2)
memory usage: 50.9+ KB

In [19]:
df['parental level of education'].value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

In [ ]:
df = pd.get_dummies(df,columns=['race/ethnicity','patental level of education'])