In [1]:
#Import libraries for evaluation
import pandas as pd
import numpy as np
 

#Import libraries for Visualization
import matplotlib.pyplot as plt
import seaborn as sns

#import libraries for Machine Learning
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("StudentsPerformance.csv")

In [3]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [4]:
df.corr()

               math score  reading score  writing score
math score       1.000000       0.817580       0.802642
reading score    0.817580       1.000000       0.954598
writing score    0.802642       0.954598       1.000000

In [5]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [6]:
df['Ismale']= np.where(df.gender== 'male',1,0)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
 8   Ismale                       1000 non-null   int32
dtypes: int32(1), int64(3), object(5)
memory usage: 66.5+ KB

In [8]:
df['lunch'].value_counts()

standard        645
free/reduced    355
Name: lunch, dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
 8   Ismale                       1000 non-null   int32
dtypes: int32(1), int64(3), object(5)
memory usage: 66.5+ KB

In [10]:
df['standardlunch']=np.where(df.lunch == 'standard',1,0)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
 8   Ismale                       1000 non-null   int32
 9   standardlunch                1000 non-null   int32
dtypes: int32(2), int64(3), object(5)
memory usage: 70.4+ KB

In [12]:
df['race/ethnicity'].value_counts()

group C    319
group D    262
group B    190
group E    140
group A     89
Name: race/ethnicity, dtype: int64

In [13]:
df['test preparation course'].value_counts()

none         642
completed    358
Name: test preparation course, dtype: int64

In [14]:
df['course_preparation'] = np.where(df['test preparation course'] == 'none',1,0)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
 8   Ismale                       1000 non-null   int32
 9   standardlunch                1000 non-null   int32
 10  course_preparation           1000 non-null   int32
dtypes: int32(3), int64(3), object(5)
memory usage: 74.3+ KB

In [16]:
df.drop(['gender','lunch','test preparation course'], axis= 1, inplace=True)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   race/ethnicity               1000 non-null   object
 1   parental level of education  1000 non-null   object
 2   math score                   1000 non-null   int64
 3   reading score                1000 non-null   int64
 4   writing score                1000 non-null   int64
 5   Ismale                       1000 non-null   int32
 6   standardlunch                1000 non-null   int32
 7   course_preparation           1000 non-null   int32
dtypes: int32(3), int64(3), object(2)
memory usage: 50.9+ KB

In [18]:
df['parental level of education'].value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

In [19]:
df = pd.get_dummies(df,columns=['race/ethnicity','parental level of education'])

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   math score                                      1000 non-null   int64
 1   reading score                                   1000 non-null   int64
 2   writing score                                   1000 non-null   int64
 3   Ismale                                          1000 non-null   int32
 4   standardlunch                                   1000 non-null   int32
 5   course_preparation                              1000 non-null   int32
 6   race/ethnicity_group A                          1000 non-null   uint8
 7   race/ethnicity_group B                          1000 non-null   uint8
 8   race/ethnicity_group C                          1000 non-null   uint8
 9   race/ethnicity_group D                          1000 non-null   uint8
 10  race/ethnicity_group E                          1000 non-null   uint8
 11  parental level of education_associate's degree  1000 non-null   uint8
 12  parental level of education_bachelor's degree   1000 non-null   uint8
 13  parental level of education_high school         1000 non-null   uint8
 14  parental level of education_master's degree     1000 non-null   uint8
 15  parental level of education_some college        1000 non-null   uint8
 16  parental level of education_some high school    1000 non-null   uint8
dtypes: int32(3), int64(3), uint8(11)
memory usage: 46.0 KB

In [21]:
df.head()

,math score,reading score,writing score,Ismale,standardlunch,course_preparation,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_associate's degree,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school
0,72,72,74,0,1,1,0,1,0,0,0,0,1,0,0,0,0
1,69,90,88,0,1,0,0,0,1,0,0,0,0,0,0,1,0
2,90,95,93,0,1,1,0,1,0,0,0,0,0,0,1,0,0
3,47,57,44,1,0,1,1,0,0,0,0,1,0,0,0,0,0
4,76,78,75,1,1,1,0,0,1,0,0,0,0,0,0,1,0

In [22]:
df.corr()

,math score,reading score,writing score,Ismale,standardlunch,course_preparation,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_associate's degree,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school
math score,1.000000,0.817580,0.802642,0.167982,0.350877,-0.177702,-0.091977,-0.084250,-0.073387,0.050071,0.205855,0.063228,0.079664,-0.128725,0.060417,0.037056,-0.079852
reading score,0.817580,1.000000,0.954598,-0.244313,0.229560,-0.241780,-0.096274,-0.060283,-0.003074,0.035177,0.106712,0.064386,0.096024,-0.151068,0.106452,0.010782,-0.071369
writing score,0.802642,0.954598,1.000000,-0.301225,0.245769,-0.312946,-0.110714,-0.078254,-0.010203,0.082032,0.089077,0.064799,0.128297,-0.182211,0.125693,0.027989,-0.097326
Ismale,0.167982,-0.244313,-0.301225,1.000000,0.021372,-0.006028,0.071001,-0.028466,-0.063368,0.030566,0.020302,-0.004835,-0.011638,0.037952,-0.046188,-0.004460,0.008990
standardlunch,0.350877,0.229560,0.245769,0.021372,1.000000,0.017044,-0.032329,-0.008257,-0.003385,-0.009458,0.052398,0.009102,-0.013668,-0.002211,-0.027095,0.006146,0.013874
course_preparation,-0.177702,-0.241780,-0.312946,-0.006028,0.017044,1.000000,0.006315,0.000106,-0.012522,0.055956,-0.059393,-0.012668,-0.024285,0.074446,0.009933,0.019490,-0.070289
race/ethnicity_group A,-0.091977,-0.096274,-0.110714,0.071001,-0.032329,0.006315,1.000000,-0.151381,-0.213923,-0.186234,-0.126110,-0.048658,0.016307,0.004919,-0.033551,-0.017751,0.073921
race/ethnicity_group B,-0.084250,-0.060283,-0.078254,-0.028466,-0.008257,0.000106,-0.151381,1.000000,-0.331479,-0.288574,-0.195411,-0.007238,-0.019121,0.069093,-0.056363,-0.036203,0.026531
race/ethnicity_group C,-0.073387,-0.003074,-0.010203,-0.063368,-0.003385,-0.012522,-0.213923,-0.331479,1.000000,-0.407797,-0.276145,0.037077,0.015682,0.007977,0.001630,-0.015872,-0.045339
race/ethnicity_group D,0.050071,0.035177,0.082032,0.030566,-0.009458,0.055956,-0.186234,-0.288574,-0.407797,1.000000,-0.240402,-0.044674,-0.020556,-0.042118,0.072793,0.042347,0.018402
race/ethnicity_group E,0.205855,0.106712,0.089077,0.020302,0.052398,-0.059393,-0.126110,-0.195411,-0.276145,-0.240402,1.000000,0.054922,0.013221,-0.039494,-0.003180,0.023153,-0.053075
parental level of education_associate's degree,0.063228,0.064386,0.064799,-0.004835,0.009102,-0.012668,-0.048658,-0.007238,0.037077,-0.044674,0.054922,1.000000,-0.195386,-0.263746,-0.133757,-0.288649,-0.249426
parental level of education_bachelor's degree,0.079664,0.096024,0.128297,-0.011638,-0.013668,-0.024285,0.016307,-0.019121,0.015682,-0.020556,0.013221,-0.195386,1.000000,-0.180595,-0.091588,-0.197647,-0.170790
parental level of education_high school,-0.128725,-0.151068,-0.182211,0.037952,-0.002211,0.074446,0.004919,0.069093,0.007977,-0.042118,-0.039494,-0.263746,-0.180595,1.000000,-0.123632,-0.266799,-0.230545
parental level of education_master's degree,0.060417,0.106452,0.125693,-0.046188,-0.027095,0.009933,-0.033551,-0.056363,0.001630,0.072793,-0.003180,-0.133757,-0.091588,-0.123632,1.000000,-0.135305,-0.116919
parental level of education_some college,0.037056,0.010782,0.027989,-0.004460,0.006146,0.019490,-0.017751,-0.036203,-0.015872,0.042347,0.023153,-0.288649,-0.197647,-0.266799,-0.135305,1.000000,-0.252312
parental level of education_some high school,-0.079852,-0.071369,-0.097326,0.008990,0.013874,-0.070289,0.073921,0.026531,-0.045339,0.018402,-0.053075,-0.249426,-0.170790,-0.230545,-0.116919,-0.252312,1.000000

In [23]:
X = df.iloc[:,3:]

In [24]:
X

,Ismale,standardlunch,course_preparation,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_associate's degree,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school
0,0,1,1,0,1,0,0,0,0,1,0,0,0,0
1,0,1,0,0,0,1,0,0,0,0,0,0,1,0
2,0,1,1,0,1,0,0,0,0,0,0,1,0,0
3,1,0,1,1,0,0,0,0,1,0,0,0,0,0
4,1,1,1,0,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,1,0,0,0,0,0,1,0,0,0,1,0,0
996,1,0,1,0,0,1,0,0,0,0,1,0,0,0
997,0,0,0,0,0,1,0,0,0,0,1,0,0,0
998,0,1,0,0,0,0,1,0,0,0,0,0,1,0
999,0,0,1,0,0,0,1,0,0,0,0,0,1,0

In [25]:
y1=df['math score']

In [26]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test=train_test_split(X, y1, test_size=0.2, random_state=0)

In [27]:
X_train.shape

(800, 14)

In [28]:
X_test.shape

(200, 14)

In [29]:
y_train.shape

(800,)

In [30]:
y_test.shape

(200,)

In [31]:
from sklearn.svm import SVR

In [32]:
reg = SVR()
reg.fit(X_train,y_train)
y_pred= reg.predict(X_test)

In [33]:
from sklearn.metrics import classification_report,mean_absolute_error,r2_score,mean_squared_error

In [34]:
y_pred.shape

(200,)

In [35]:
y_test.shape

(200,)

In [36]:
mean_squared_error(y_pred,y_test)

181.0817713169542

In [37]:
y_test_mean= np.full(len(y_test), y_test.mean())

In [38]:
y_test.mean()

65.72

In [39]:
r2_score(y_test, y_test_mean)

0.0

In [40]:
r2_score(y_test,y_pred)

0.20088043810390488

In [41]:
mean_absolute_error(y_test,y_pred)

10.741442568291045

In [42]:
mean_squared_error(y_test,y_pred)

181.0817713169542

In [43]:
from sklearn.ensemble import RandomForestRegressor

In [44]:
model = RandomForestRegressor(n_estimators= 50)

In [45]:
model.fit(X_train,y_train)

RandomForestRegressor(n_estimators=50)

In [46]:
y_pred=model.predict(X_test)

In [47]:
r2_score(y_test,y_pred)

0.06533669314171697

In [48]:
from sklearn.linear_model import LinearRegression

In [49]:
ln = LinearRegression()

In [50]:
ln.fit(X_train,y_train)

LinearRegression()

In [51]:
y_pred = ln.predict(X_test)

In [52]:
r2_score(y_test,y_pred)

0.24499098858966573